<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= nickname %> Node Status</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="/scripts/utils.js"></script>
</head>
<body onload="onLoad()">
  <h1><%= nickname %> Node Status</h1>
  <br>
  <fieldset>
    <legend>ABOUT THIS NODE</legend>
    <div class="text">
    <p>Version: <code><%= version %> (<%=protversion%>)</code></p>
    <p>Subversion: <code><%= subversion %></code></p>
    <p>Services: <code><%= localservices %></code></p>
    <p>Relay Fee: <code><%=relayfee%></code></p>
    <p>Uptime: <code><%= uptime %></code></p>
  </div>
  </fieldset>
  <br>
  <fieldset>
    <legend>BLOCKCHAIN INFO</legend>
    <div class="text">
    <p>Chain: <code><%=chain%></code></p>
    <p>Blocks: <code><%=blocks%></code></p>
    <p>Headers: <code><%=headers%></code></p>
    <p>Difficulty: <code><%=difficulty%></code></p>
    <p>Median Time: <code><%=mediantime%></code></p>
    <p>bestblockhash: <code><%=bestblockhash%></code></p>
    <p>Prunned: <code><%=pruned%></code></p>
    <p>Segwit: <code><%=segwit%></code></p>
    </div>
  </fieldset>
  <br>
  <fieldset>
    <legend>TX MEMORY POOL INFO</legend>
    <div class="text">
    <p>Transactions: <code><%=transactions%></code></p>
    <p>Size: <code><%=mempoolbytes%></code></p>
    <p>Max Mempool Size: <code><%=maxmempool%></code></p>
    </div>
  </fieldset>
  <br>
  <fieldset>
    <legend>NETWORK USAGE</legend>
    <div class="text">
    <p>Total Received: <code><%= totalbytesrecv %></code></p>
    <p>Total Sent: <code><%= totalbytessent %></code></p>
    </div>
  </fieldset>

  <br>
  <fieldset>
    <legend>CONNECTED PEERS (<%= peers.length %>)</legend>
    <div class="table">
        <table>   
            <tr>
                <th>Address:</th>
                <th>Services:</th>
                <th>Connection Time:</th>
                <th>Version:</th>
                <th>Subversion:</th>
                <th>Inbound:</th>
                <th>Bytes Sent/Received:</th>
            </tr>
            <% for (var i = 0; i < peers.length; i++) { %>
                <tr>
                    <td><%= peers[i].addr %> </td>
                    <td class="peerservices"><%= peers[i].services %> </td>
                    <td class="connectiontime"><%= peers[i].conntime %> </td>
                    <td><%= peers[i].version %> </td>
                    <td><%= peers[i].subver %> </td>
                    <td><%= peers[i].inbound %> </td>
                    <td class="bytes"><%= peers[i].bytessent %> / <%= peers[i].bytesrecv %> </td>
                </tr>
            <% }; %>
        </table>
    </div>
  </fieldset>

  <br>
  <fieldset>
    <legend>BANNED PEERS (<%= banned.length %>)</legend>
    <div class="table">
        <table>   
            <tr>
                <th>Address:</th>
                <th>Banned Until:</th>
                <th>Ban Created:</th>
                <th>Ban Reason:</th>
            </tr>
            <% for (var i = 0; i < banned.length; i++) { %>
                <tr>
                    <td><%= banned[i].address %> </td>
                    <td class="banneduntil"><%= banned[i].banned_until %> </td>
                    <td class="bannedcreation"><%= banned[i].ban_created %> </td>
                    <td><%= banned[i].ban_reason %> </td>
                </tr>
        
            <% }; %>
        </table>
    </div>
  </fieldset>
  <br>

  <footer>Source code <a href="https://github.com/Invertee/NodeStatus">here.</a></footer>
</body>
</html>